@import url('https://fonts.googleapis.com/css?family=Montserrat: 100,200,300,400,500,600,700,800,900');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

input[type="file"] {
	display: none;
}

:root
{
	--login: #e9ebe7;
	--bg: #f1f5ff;
	--bg-pp: #43cd6e;
	--btn: #3bd579;
	--cinza: #8f8f8f;
	--rosa: #EB6FA7;
	--roxo: #8D44C5;
	--pinkwhite:  #FFEED6;
	--vermelho: #ff2e2e;
	--branco: #FFF;
	--dourado: #e3d000;
	--preto: #110B11;
	--sombra: 0 5px 30px rgba(0,0,0,0.2);
}

.logoIcon {
	letter-spacing: -6.0px;
    font-size: 1.5em;
    font-weight: 600;
}

.logoIcon b {
	color: var(--btn);
}

.login {
	background-color: var(--login);
}

.bg-pp {
	background-color: var(--bg-pp);
}

.bg {
	background-color: var(--bg);
}

.rosa {
	background-color: var(--rosa);
}

.pinkwhite {
	background-color: var(--pinkwhite);
}

.cinza {
	background-color: var(--cinza);
}

.m5-0 { margin: 5px 0; }
.m10-0 { margin: 10px 0; }
.p10{ padding: 10px; }
.p20{ padding: 20px; }
.p30{ padding: 30px; }
.p30-0{ padding: 30px 0; }
.p0-30{ padding: 0 30px; }
.p40{ padding: 40px; }
.p50{ padding: 50px; }
.p50-0{ padding: 50px 0; }
.p0-50{ padding: 0 50px; }
.p60{ padding: 60px; }
.p70{ padding: 70px; }
.p80{ padding: 80px; }
.p90{ padding: 90px; }
.p100{ padding: 100px; }
.p-r-10 { padding-right: 10px; }
.w10{ width: 10%; }
.w20{ width: 20%; }
.w25{ width: 25%; }
.w30{ width: 30%; }
.w33{ width: 33%; }
.w40{ width: 40%; }
.w49{ width: 49%; }
.w50{ width: 50%; }
.w60{ width: 60%; }
.w70{ width: 70%; }
.w80{ width: 80%; }
.w90{ width: 90%; }
.w100{ width: 100%; }
.h50{ height: 50%; }
.h100{ height: 100%; }
.vh100{ min-height: 100vh; }
.mb-30 { margin-bottom: 30px; }
.g10 { gap: 10px; }
.g20 { gap: 20px; }
.p-l-20 { padding-left: 20px; }

.fs-1 {
	font-size: 1em;
}

.fs-2 {
	font-size: 2em;
}

.d-flex
{
	display: flex;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
}

.js-center
{
	position: relative;
	display: flex;
	justify-content: center;
}

.js-btw
{
	position: relative;
	display: flex;
	justify-content: space-between;
}

.js-ard
{
	position: relative;
	display: flex;
	justify-content: space-around;
}

.js-start
{
	position: relative;
	display: flex;
	justify-content: start;
}

.al-center
{
	align-items: center;
}

.al-start
{
	align-items: flex-start;
}

.al-end
{
	align-items: flex-end;
}

.column
{
	flex-direction: column;
}

.text-c {
	text-align: center;
}

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.titlle {
	text-transform: uppercase;
	color: var(--preto);
}

.title {
	color: var(--preto);
    font-weight: 500;
    font-size: 2em;
}

.pop-up .inputDiv label {
	font-size: 1em;
	font-weight: 500;
	color: var(--preto);
	margin: 5px 0;
}

.inputDiv label {
	font-size: 1em;
	font-weight: 500;
	color: var(--cinza);
}

.inputDiv select,
.inputDiv input  {
	padding: 10px;
    border-radius: 10px;
    font-weight: 500;
	resize: none;
	border: none;
	color: var(--preto);
	transition: 0.3s;
}

.pop-up .inputDiv input {
	padding: 10px;
    border-radius: 10px;
    font-weight: 500;
	resize: none;
	color: var(--preto);
	border: 1px solid var(--bg-pp);
	transition: 0.3s;
}

.inputDiv input:focus {
	border: 1px solid var(--login);
}

.pop-up .inputDiv .btn-img {
	padding: 10px;
    border-radius: 8px;
    border: none;
    color: var(--branco);
    background: var(--btn);
    font-weight: 600;
	transition: 0.3s;
	cursor: pointer;
}

.inputDiv .btn-img:hover {
	background: var(--bg-pp);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.modal.show {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	position: relative;
    width: 450px;
    height: 450px;
}


.modal-content img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	background-position: center;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.btn-submit {
	padding: 10px;
    border-radius: 20px;
    border: none;
    color: var(--branco);
    background: var(--btn);
    font-weight: 600;
    box-shadow: var(--sombra);
    margin-top: 30px;
	transition: 0.3s;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: var(--branco);
	color: var(--btn);
}

.pop-up {
	position: fixed;
	width: 300px;
	top: 0;
	left: 50%;
	padding: 15px;
	border-radius: 8px;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	box-shadow: var(--sombra);
	transition: 0.3s;
	z-index: 1000;
}
 
.pop-up.active {
	opacity: 1;
	visibility: visible;
	top: 50%;
}

.card {
	width: 300px;
	height: 430px;
	background: var(--branco);
	box-shadow: var(--sombra);
}

.menu {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.plus {
	padding: 20px;
    border-radius: 50%;
    width: 60px;
	height: 60px;
	margin-top: 10px;
    border: none;
    background: var(--btn);
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-size: 2em;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--sombra);
	transition: 0.3s;
}

.menu.active .plus{
	transform: rotate(225deg);
}

.option {
	padding: 20px;
    border-radius: 50%;
    width: 30px;
	height: 30px;
	margin: 5px 0;
    border: none;
    background: var(--btn);
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-size: 1em;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--sombra);
	transition: 0.3s;
	z-index: 999;
	transform: scale(0.1);
	opacity: 0;
	visibility: hidden;
}

.menu.active .option {
	transform: scale(1.0);
	opacity: 1;
	visibility: visible;
}

.plus:hover,
.option:hover {
	color: var(--btn);
	background: var(--branco);
}
.menu span {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%) translateX(-20px);
	white-space: nowrap;
	padding: 4px 6px;
	background: #fff;
	color: #333;
	font-weight: 500;
	font-size: 14px;
	border-radius: 4px;
	pointer-events: none;
	opacity: 0;
	transition: transform 0.5s;
}

.menu.active div:hover span{
	transform: translateY(-50%) translateX(0px);
    opacity: 1;
}

.menu div {
	border-radius: 50%;
}

.close-modal {
	position: absolute;
    top: 10px;
    right: 10px;
    color: var(--preto);
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    background: var(--branco);
    padding: 5px 10px;
    border-radius: 20px;
}

.close {
	position: absolute;
    top: -10px;
    right: -15px;
    color: var(--preto);
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    background: var(--branco);
    padding: 5px 10px;
    border-radius: 20px;
}

.close:hover {
	color: var(--cinza);
}

.alert {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: var(--bg);
	box-shadow: var(--sombra);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	font-weight: 700;
	z-index: 999;
}

.alert-login {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	font-weight: 700;
	margin-top: 10px;
}

.alert-form {
	display: none;
	color: var(--vermelho);
	font-weight: 500;
	margin-top: 15px;
}

.alert.ok,
.alert-login.ok {
	color: var(--btn);
}

.alert.del,
.alert-login.del {
	color: var(--vermelho);
}

.alert.show,
.alert-login.show {
	opacity: 1;
	visibility: visible;
}

.alert i {
	padding-right: 10px;
}

.link {
	color: var(--btn);
	font-weight: 500;
}

.logo {
	text-decoration: none;
	font-size: 2em;
	color: var(--preto);
	font-weight: 600;
	text-transform: uppercase;
}

/* Header */

header
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	padding: 20px 50px;
	background-color: var(--branco);
	z-index: 999;
}

header.sticky
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 50px;
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li
{
	list-style: none;
	text-transform: capitalize;
}

header ul li a 
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: var(--preto);
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
}

header.sticky .toggle
{
	padding: 34px;
	top: -8px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 1em;
	background: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
	color: var(--btn)!important;
}

.fa-heart-o
{
	color: #fff;
}

.produtos
{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 20px;
	padding: 20px;
}

.category {
	width: 300px;
	background: var(--branco);
	box-shadow: var(--sombra);
}

.category a {
	display: block;
	width: 100%;
	color: var(--preto);
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 700;
}

.category a:hover {
	letter-spacing: 2px;
}

.category .img8x {
	position: relative;
	width: 100%;
	height: 310px;
	overflow: hidden;
}

.category .img8x img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease-in-out;
	transform-origin: center;
}

.card-2 {
	width: 100%;
	background: var(--branco);
	box-shadow: var(--sombra);
}

.card-product,
.card-apresetation {
	position: relative;
	width: 330px;
	background: var(--branco);
	box-shadow: var(--sombra);
}

.card-2 .img8x,
.card-product .img8x,
.card-apresetation .img8x{
	position: relative;
	width: 100%;
	height: 330px;
	overflow: hidden;
}

.card-2 .img8x img,
.card-product .img8x img,
.card-apresetation .img8x img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease-in-out;
	transform-origin: center;
}

.card-2:hover .img8x img,
.card-product:hover .img8x img {
	transform: scale(1.5);
}

.card-2 h1,
.card-product h1,
.card-apresetation h1 {
	font-weight: 400;
	font-size: 1em;
	text-align: center;
	padding: 10px;
}

.card-2 .conteudo,
.card-product .conteudo
{
	padding: 10px;
	height: 120px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.card-apresetation .conteudo {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 111px;
    padding: 15px;
    color: var(--bg);
    background: linear-gradient(359deg, #454545, #710e0e00);
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.action
{
	position: absolute;
	bottom: 10px;
	right: 10px;	
}

.action li
{
	position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;
	cursor: pointer;
	transition: 0.3s;
	transform: translateX(60px);
	border-radius: 8px;
	cursor: pointer;
}

.card-2:hover .action li,
.card-product:hover .action li
{
	transform: translateX(0px);
}

.action li span
{
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%) translateX(-20px);
	white-space: nowrap;
	padding: 4px 6px;
	background: #fff;
	color: #333;
	font-weight: 500;
	font-size: 14px;
	border-radius: 4px;
	pointer-events: none;
	opacity: 0;
	transition: transform 0.5s;
}

.action li i {
	transition: 0.2s;
	cursor: pointer;
}

.action li:hover span
{
	transform: translateY(-50%) translateX(0px);
	opacity: 1;
}

.action li span::before
{
	content: '';
	position: absolute;
	top: 50%;
	right: -4px;
	width: 8px;
	height: 8px;
	background: #fff;
	transform: translateY(-50%) rotate(45deg);
}

.action .fa-heart
{
	cursor: pointer;
	color: #ccc;
}

.action .fa-eye
{
	color: #000;
}

.action label
{
	position: relative;
}

.action label [type="checkbox"]
{
	position: absolute;
	opacity: 0;
	cursor: pointer;

}

.action label [type="checkbox"]:checked ~ .fa
{
	color: #e63946;
	transition: 0.2s ease;
}

.action .del-categoria,
.action .del {
	transition-delay: 0.3s;
}

.action .del-categoria:hover i,
.action .del:hover i {
	color: var(--vermelho);
}

.action .edit-categoria:hover i,
.action .edit:hover i {
	color: var(--btn);
}

.price {
	font-weight: 600;
	color: var(--preto);
} 

.filter {
	padding: 5px;
	margin: 0 10px;
	border: 1px solid var(--cinza);
}

footer
{
	box-shadow: var(--sombra);
	background: var(--branco);
}

/* REPARO */

.previewImage {
	position: relative;
	width: 100%;
	height: 120px;
}

.previewImage img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	object-position: center;
}

.t-white
{
	color: var(--branco);
}

.about .imgBx
{
	position: relative;
	min-width: 50%;
	width: 50%;
	min-height: 500px;
}

.terms {
	font-size: 0.8em;
	font-weight: 600;
	text-align: center;
}

.zoom{
	position: absolute;
}

@media screen and (max-width: 991px){

	header
	{
		padding: 10px 20px;
	}

	header.sticky
	{
		padding: 10px 20px;	
	}

	.card-2,
	.card-apresetation
	 {
		width: 100%;
	}
}

@media screen and (max-width: 768px)
{
	.mbl-none {
		display: none;
	}

	.w60 {
		width: 100%;
	}

	.m-text-c {
		text-align: center;
	}

	.action {
		left: 10px;
		right: auto;
	}

	.action li {
		transform: translateX(0px);
	}

	.swiper {
		padding: 20px;
	}

	.action li span {
		display: none;
	}

	.menu.active div span {
		transform: translateY(-50%) translateX(0px);
		opacity: 1;
	}

	.category {
		width: 100%;
	}

	.modal {
		padding: 15px;;
	}

	.modal-content {
		position: relative;
		width: 100%;
		height: 300px;
	}
}